.list-grid.devices {
  /*
  Col 1: Shrink the text to an extend, otherwise fill all available space
  Col 2, 3: Fit to the link buttons / switch always
  Col 4, 5: On small screens fit to the icon, otherwise to the text
  NOTE: The min values are less than the content so it collapses over the
  grid-gap space. On really small screens it helps delay the appearance of
  the lateral scrollbar
   */
  grid-template-columns:
    minmax(4rem, auto)
    minmax(2.5rem, min-content)
    minmax(2.5rem, min-content)
    minmax(calc(var(--icon-size) / 2), min-content)
    minmax(calc(var(--icon-size) / 2), min-content);

  /* When showing two buttons, inline and space them */
  > .group {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--grid-spacing);
  }

  /* Make it slightly bigger to compensate the svg path being smaller */
  svg.bigger {
    height: calc(var(--icon-size) + 0.2rem);
    width: calc(var(--icon-size) + 0.2rem);
  }
  svg.smaller {
    height: calc(var(--icon-size) - 0.05rem);
    width: calc(var(--icon-size) - 0.1rem);
  }

  .get-link {
    border-color: var(--border-color);
  }
  @media (min-width: 28rem) {
    .get-link::after {
      content: " link";
    }
  }

  /* Make bootstrap buttons smaller */
  .btn {
    padding: 0.2rem 0.5rem;
  }
}

/* Device Settings `/devices/:id` */
.device-settings {
  > header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: minmax(4rem, auto) min-content;
    grid-gap: var(--default-spacing);
    align-items: center;
    > .card-title {
      margin-bottom: 0;
    }
  }

  .help-text {
    margin: 0.15rem 0 0.5rem;
  }

  > .alert {
    margin: 0;
  }

  /* The svg are not centered so the custom padding 
     helps the icons look like they are centered  */
  .link-display {
    background-color: var(--color-background) !important;
  }
  .device-url-copy {
    padding: 4px 9px 0px 11px;
    font-size: 1.3rem;
  }
  .device-url-open {
    padding: 0px 9px 0px 10px;
    font-size: 1.3rem;
    > a {
      display: flex;
    }
  }

  .request-status-container > * {
    margin-top: 0.5rem;
  }
}
