.wifi-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wifi-actions {
  justify-content: right;
  switch {
    margin-left: 10px;
  }
}

.wifi-report {
  button {
    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
      background: #fff;
      color: #6c757d;
    }
    border: none;
  }
}
