# Prevent Dockerfile modifications to trigger layer recomputation
Dockerfile

# Dependencies
node_modules/
packages/*/node_modules/
packages/*/npm-debug.log
packages/*/yarn-error.log

# Compiled files
packages/*/build/
packages/*/dist

# Test artifacts
packages/*/*test*
packages/*/src/*test*

# Dev artifacts
packages/*/.prettierrc*
packages/*/.prettierignore
#packages/*/.eslintrc*
packages/*/.eslintignore
packages/*/.mocharc*

# README files
README.md
packages/*/README.md

# Version data file
.version.json

# Version builds
build_*/

# Package admin-ui files
packages/admin-ui/server-mock
packages/admin-ui/__mock-backend__
packages/admin-ui/tsconfig.server-mock.json
packages/admin-ui/nodemon.json

# Package dappmanager files
packages/dappmanager/dnp_repo
packages/dappmanager/DNCORE
packages/dappmanager/maindb.json
packages/dappmanager/test_mountpoints
