# Prevent Dockerfile modifications to trigger layer recomputation
build/Dockerfile

# Dependencies
node_modules/

# Accelerate COPY build/src . command
packages/*/node_modules/
packages/*/tmp_dnp_repo/
packages/*/dnp_repo/
packages/*/DNCORE/
packages/*/cache/
packages/*/dappmanagerdb.json

# Test artifacts
test_build/
test_build/*
test_build/.git/
test_build/.git/*
packages/*/undefined/
packages/*/test_files/
packages/*/test_files/*
packages/*/test_mountpoints_*/
packages/*/test_mountpoints_*/*
packages/*/.temp-transfer/
packages/*/.temp-transfer/*

# Test files
packages/admin-ui/src/__tests__
packages/dappmanager/test

# Version data file
.version.json

# UI
packages/*/node_modules
packages/*/npm-debug.log

# Mock server is only for developing
packages/*/server-mock

# Version builds
build_*/