node_modules/
build/src/node_modules/
build/src/tmp_dnp_repo/
build/src/dnp_repo/
build/src/DNCORE/
build/src/cache/
build/src/dist/
build/src/dappmanagerdb.json
test_build/
.DS_Store
.nyc_output
build_*
uploader

# Test artifacts
test_build/
build/src/undefined/
build/src/test_files/
build/src/test_files/*

# Version data file
.version.json

# Extra
node_modules/\.yarn-integrity

# Typescript build artifacts
build/src/dist/
build/src/.temp-transfer/
