.custom-accordion {
  .custom-accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &.closed {
      border-bottom: none;
    }
  }
}
