.list {
  h5 {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  ul {
    padding: inherit;
    list-style-type: none;

    li {
      display: flex;

      .title-container {
        margin-left: 0.2rem;
      }

      .message-container {
        margin-left: 0.6rem;
      }

      .error-message-container {
        margin-left: 0.6rem;
      }

      .icon-container-left {
        margin-right: 6px;
      }

      .icon-container-right {
        float: right;
        margin-right: 6px;
      }
    }
    li:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}
