.loading-view {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    margin-bottom: 1rem;
  }

  p {
    opacity: 0.6;
  }

  &.small {
    margin: 1rem 0px;
    img {
      width: 50px;
      height: 50px;
      margin: 0px;
    }
  }
}
