.banner-notifications-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 1.5rem 0;

  .banner-card {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &.medium-priority {
      background-color: #d1ecf1;
      color: #0c5460;
    }

    &.high-priority {
      background-color: #ffeda6;
      color: #433c1d;
    }

    &.critical-priority {
      background-color: #f8d7da;
      color: #721c24;
    }

    h5 {
      margin: 0px;
    }

    .banner-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .banner-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
      }

      .close-btn {
        padding: 0px;
        border: none;
        background: none;

        cursor: pointer;
        color: #000;
        font-size: 1.2rem;
        font-weight: 700;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .banner-body {
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      @media (max-width: 60rem) {
        flex-direction: column;
      }

      button {
        > div {
          white-space: nowrap; // Prevent CTA text from wrapping
        }
      }
    }
  }
}

#dark {
  #main {
    .banner-notifications-col {
      .banner-card {
        button > .btn-text {
          color: white;
        }

        &.low-priority {
          * {
            color: black;
          }
        }
        &.medium-priority {
          * {
            color: #0c5460;
          }
        }

        &.high-priority {
          *,
          .btn-text {
            color: #433c1d;
          }
        }

        &.critical-priority {
          * {
            color: #721c24;
          }
        }
      }
    }
  }
}
