.banner-notifications-col {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .banner-card {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e9ecef;

    &.medium-priority {
      background-color: #d1ecf1;
      color: #0c5460 !important;
    }

    &.high-priority {
      background-color: #ffeda6;
      color: #433c1d !important;
    }

    &.critical-priority {
      background-color: #f8d7da;
      color: #721c24 !important;
    }

    h5 {
      margin: 0px;
    }

    .notification-body {
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      @media (max-width: 60rem) {
        flex-direction: column;
      }
    }
  }
}

#dark {
  #main {
    .banner-notifications-col {
      .banner-card {
        color: black;

        &.medium-priority {
          color: #0c5460 !important;
        }

        &.high-priority {
          color: #433c1d !important;
        }

        &.critical-priority {
          color: #721c24 !important;
        }

        .notification-body {
          p,
          strong {
            color: black !important;
          }
        }
      }
    }
  }
}

// #dark {
//   #main {
//     .banner-notifications-col {
//       .banner-card {
//         color: black;

//         &.medium-priority {
//           color: #0c5460 !important;
//           .notification-body {
//             p,
//             strong {
//               color: #0c5460 !important;
//             }
//           }
//         }

//         &.high-priority {
//           color: #433c1d !important;
//           .notification-body {
//             p,
//             strong {
//               color: #433c1d !important;
//             }
//           }
//         }

//         &.critical-priority {
//           color: #721c24 !important;
//           .notification-body {
//             p,
//             strong {
//               color: #721c24 !important;
//             }
//           }
//         }

//         .notification-body {
//           p,
//           strong {
//             color: black !important;
//           }
//         }
//       }
//     }
//   }
// }
