@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pwa-permissions-modal-bg {
  z-index: var(--z-index-welcome-dialog);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease forwards;

  .pwa-permissions-modal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 2rem;
    border-radius: 8px;
    opacity: 0;
    animation: popIn 0.5s ease forwards;

    .modal-close-btn {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      color: #666;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }
}

#dark {
  .pwa-permissions-modal {
    background: var(--color-dark-card);
    color: var(--color-dark-maintext);

    .modal-close-btn:hover {
      color: var(--color-dark-maintext);
    }
  }
}
