.pwa-requirements-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  
    a.btn, button {
      margin-top: 10px;
    }
  }
  