/* Read more */

.read-more {
  overflow: hidden;
}
.read-more.short {
  /* DO NOT CHANGE THIS VALUE. Linked to ReadMore.jsx */
  max-height: 121px;
}
.read-more-toggle {
  color: var(--dappnode-gray-main-color);
  cursor: pointer;
}
.read-more-toggle:hover {
  color: var(--dappnode-strong-main-color);
}
