.horizontal-navbar {
  display: flex;
  border-bottom: 1px solid var(--color-light-border);
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  .item-container {
    background-color: transparent;
    border: none;
    padding-bottom: 0.3rem;
    padding-left: 0;
    font-size: 1rem;
    &:not(:last-child) {
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: var(--border-style);
    }
    &:hover {
      color: inherit;
    }

    // Remove the border (outline) on click
    &:focus {
      outline: none;
    }
  }
  .item {
    color: #7b7d7f;
    border: none;
    padding-bottom: 0.3rem;
    cursor: pointer;
    &.active {
      color: #212529;
      border-bottom: 5px solid var(--dappnode-strong-main-color);
    }
  }

  @media (max-width: 40rem) {
    overflow-x: scroll;
  }
}

#dark {
  #main {
    .horizontal-navbar {
      border-bottom: var(--border-style-dark);
    }
  }
}
