:root {
  --icon-size: 24px;
  --bubble-size: 12px;
}

.topnav-icon-separator {
  /* Since the div is empty, show only one side of the border */
  border-right: var(--border-style);
  height: var(--icon-size);
}

/* General topnav styles */

.topnav {
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.dappnode-name {
  max-width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blockies-icon {
  border-radius: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
}

/* Sidenav toggler */

.sidenav-toggler {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 0.7;
  /* Increase clickable area */
  min-height: calc(var(--topbar-height) / 2);
  /* Center icon vertically */
  display: flex;
  align-items: center;
}
.sidenav-toggler:hover {
  opacity: 1;
}
