.recovery-token-box {
  padding: 1.5rem;
  border: var(--border-style);
  border-radius: 4px;
  background-color: white;
  font-size: 1.5rem;
}

.hidden-input {
  height: 0;
  overflow: hidden;
  opacity: 0;
}
