.password-form {
  text-align: left;

  .register-button {
    margin-top: 2rem;
    width: 100%;
  }

  .text {
    margin-top: 1rem;
    font-size: 90%;
    color: var(--light-text-color);
  }
}

.recovery-token-box {
  padding: 1.5rem;
  border: var(--border-style);
  border-radius: 4px;
  background-color: white;
  font-size: 1.5rem;
}
