.standalone-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 3em 1em;
  text-align: center;
  background-color: var(--color-background);
  min-height: 100vh;
  max-width: 30rem;
  margin: auto;

  > *:not(:last-child) {
    margin-bottom: var(--default-spacing);
  }
  // Make sure everything is stretched to the same witdth
  > * {
    width: 100%;
  }
  // Space the bottom button if any a bit more
  > .btn {
    margin-top: calc(var(--default-spacing) / 2);
  }

  > .toplogo {
    opacity: 0.4;
    font-size: 5rem;
  }

  > .title {
    font-size: 2.5em;
  }

  .text {
    max-width: 35em;
  }

  > .separator {
    width: 25rem;
    border-top: var(--border-style);
  }

  > .logo {
    width: 15em;
    filter: grayscale(100%);
  }

  /* For the links in NoConnection */
  a {
    color: gray;
  }
}
