#sidebar {
  display: flex;
  flex-direction: column;

  /* 
   * Spacer
   * To generate a responsive design with flexbox 
  */
  > .spacer {
    flex: auto;
  }

  .sidebar-media-footer {
    display: flex;
    padding: 0.5rem;
    a {
      color: inherit;
      opacity: 0.5;
      font-size: larger;
      padding: 0.5rem;
      text-decoration: none;
    }
  }
}

/* 
 * ============
 * Sidenav-item
 * ============
 */

/* Remember specificity order rules to override bootstrap */
.sidenav-item {
  border-left: 5px solid transparent;
  color: black;
  text-decoration: none;
  transition: all 0.5s;
  /* Try to standarize this size */
  font-size: 0.8rem;

  /* Subheader before the list of routes, with text: Admin UI */
  .subheader {
    font-size: 80%;
    opacity: 0.6;
  }

  /* List of routes, with dynamic styles on hover and active */
  &.selectable {
    cursor: pointer;
    /* All transitions have to be specified with commas in a single transition property */
    transition: background 150ms ease, color 150ms ease, border 150ms ease;
  }
  &.selectable:hover,
  &.selectable.active {
    color: black;
    font-weight: 600;
    text-decoration: none;
  }
  &.selectable:hover {
    background-color: var(--color-light-background-main);
  }
  &.selectable.active {
    background-color: var(--color-light-border);
  }

  &.selectable:hover svg,
  &.selectable.active svg {
    opacity: 0.7;
  }

  &.selectable svg {
    font-size: 1.2rem;
  }

  &.premium-item {
    color: #ff397f;
    background-color: #ffefe1;
    svg {
      opacity: 0.7;
    }
    &.active {
      color: #ff397f;
    }
  }
  &.premium-item:hover {
    color: #ff397f;
  }
}

#dark {
  #sidebar {
    .nav .sidenav-item.premium-item {
      color: #ff397f;
      background-color: #443428;
    }
  }
}

/*
 * Core Version
 */

#core-version {
  text-align: center;

  &.dark {
    color: #ddd;
  }

  span {
    font-weight: bold;
    color: var(--dappnode-strong-main-color);
  }
}

/* 
 * Funded-by
 */

.funded-by-text-light,
.funded-by-text-dark {
  opacity: 0.3;
  text-align: center;
}
/* Controls the layout of the logos, all in one row with equal spacing */
.funded-by-logos {
  --spacing: 0.7rem;
  @media (max-width: 40rem) {
    --spacing: 0.3rem;
  }
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  /* Auto-space the items only in-between, hard to achieve with flex */
  grid-gap: var(--spacing);
  padding: var(--spacing);
}
.funded-by-logo-light,
.funded-by-logo-dark {
  opacity: 0.15;
  transition: opacity 500ms ease;
  &:hover {
    opacity: 0.5;
  }
}

.funded-by-logo-dark,
.funded-by-text-dark {
  filter: invert(94%) sepia(1%) saturate(0%) hue-rotate(139deg) brightness(93%) contrast(97%);
}

/* If the screen width is less or equal than 640 then display the funded by in flex columnd direction */
@media only screen and (max-width: 40rem) {
  .funded-by-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    align-items: center;
  }
  .funded-by-text-light,
  .funded-by-text-dark {
    font-size: 6px;
  }
  .funded-by-logo-light,
  .funded-by-logo-dark {
    max-width: 60%;
    max-height: 60%;
  }

  .sidenav-item {
    border: 0;
  }

  #sidebar .sidebar-media-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #core-version span {
    font-size: 0.7rem;
  }
}
