#sidebar {
  display: flex;
  flex-direction: column;

  /* Spacer
   ======
   To generate a responsive design with flexbox 
  */
  > .spacer {
    flex: auto;
  }

  .sidebar-media-footer {
    display: flex;
    padding: 0.5rem;
    a {
      color: inherit;
      opacity: 0.5;
      font-size: larger;
      padding: 0.5rem;
      text-decoration: none;
    }
  }
}

/* Sidenav-item
   ============
 */

/* Remember specificity order rules to override bootstrap */
.sidenav-item {
  border-left: 5px solid transparent;
  color: black;
  text-decoration: none;
  transition: all 0.5s;
  /* Try to standarize this size */
  font-size: 0.94rem;

  /* Subheader before the list of routes, with text: Admin UI */
  .subheader {
    font-size: 80%;
    opacity: 0.6;
  }

  /* List of routes, with dynamic styles on hover and active */
  &.selectable {
    cursor: pointer;
    /* All transitions have to be specified with commas in a single transition property */
    transition: background 150ms ease, color 150ms ease, border 150ms ease;
  }
  &.selectable:hover,
  &.selectable.active {
    border-left: 5px solid var(--dappnode-strong-main-color);
    color: black;
    font-weight: 800;
    text-decoration: none;
    background-color: #e6eceb80;
  }
  &.selectable:hover svg,
  &.selectable.active svg {
    opacity: 0.7;
  }

  &.selectable svg {
    font-size: 1.5rem;
  }
}

/* Responsive */
@media only screen and (max-width: 40rem) {
  .sidenav-item {
    border: 0;
  }

  #sidebar .sidebar-media-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive */
@media only screen and (max-width: 40rem) {
  .sidenav-item {
    border: 0;
  }

  #sidebar .sidebar-media-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
