.network-editor {
  // Reduce padding on mobile so the card content is legible
  @media (max-width: 40rem) {
    padding: 0.7em !important;
  }

  table {
    width: 100%;

    tr:not(:last-child) td,
    thead td {
      padding-bottom: var(--default-spacing);
      @media (max-width: 40rem) {
        padding-bottom: 0.2rem;
      }
    }
    td:not(:last-child) {
      padding-right: var(--default-spacing);
      @media (max-width: 40rem) {
        padding-right: 0.2rem;
      }
    }
  }

  .error {
    color: var(--danger-color);
  }

  // Reduce padding on mobile so the input content is legible
  .port-mapping-input {
    @media (max-width: 40rem) {
      padding: 0;
      text-align: center;
    }
  }
  .port-mapping-actions {
    display: flex;
    gap: var(--default-spacing);
    justify-content: space-between;
  }

  .unmapped-ports {
    .text {
      color: var(--light-text-color);
    }
    .buttons {
      > *:not(:last-child) {
        margin-right: 1rem;
      }
      > * {
        margin-bottom: 1rem;
      }
      margin-bottom: -1rem;
    }
  }

  .network-delete-port-row {
    display: flex;
    font-size: 1.5rem;
    padding: 0.375rem;
    border-color: #ced4da;
  }
}
