.staker-advance-view {
  &.list-grid {
    /* Create grid-template-columns with 4 columns equally separated */
    grid-template-columns: 1fr 1.5fr 0.3fr 0.5fr;

    grid-gap: calc(var(--grid-spacing) / 2) var(--grid-spacing);

    align-items: center;
    justify-items: flex-start;

    .current {
      word-break: break-all;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    // Hide arrow as window shrinks
    .arrow {
      overflow: hidden;
      width: 100%;
    }

    .new {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      word-break: break-all;
    }
  }

  /*Mobile View*/
  @media only screen and (max-width: 760px) {
    &.list-grid {
      // Hide the arrow
      .arrow {
        width: 0;
      }
    }
  }
}
