.chain-stats {
  width: 100%;
  .chain-cards-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .card {
      flex: 1;
    }
    .chain-stats-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .chain-stat-col {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: var(--light-text-color);

        > span {
          font-weight: bold;
          font-size: 20px;
          color: black;
          margin-top: -5px;
        }
      }

      .chain-card-header {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .chain-card-icon {
          svg {
            padding: 3px;
            border-radius: 5px;

            &.health-icon {
              color: blue;
              background-color: rgba(173, 216, 230, 0.452);
            }
            &.bolt-icon {
              color: purple;
              background-color: rgba(128, 0, 128, 0.445);
            }
            &.rewards-icon {
              color: green;
              background-color: rgba(0, 128, 0, 0.377);
            }
          }
        }
      }

      .status-card-container,
      .validators-card-container {
        display: flex;
        flex-direction: column;

        .status-client-row,
        .validators-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }

  #dark {
    #main {
      .chain-stats {
      }
    }
  }
}
