.network-stats {
  width: 100%;
  .network-cards-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media (max-width: 65rem) {
      flex-direction: column;
    }

    .card {
      flex: 1;
      margin-top: 0px;
    }
    .network-stats-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .network-stat-col {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: var(--light-text-color);

        > span {
          font-weight: bold;
          font-size: 20px;
          color: black;
          margin-top: -5px;
        }
        .client-status {
          text-transform: capitalize;
          font-size: 14px;
          display: flex;
          justify-content: center;

          padding: 2px;
          border-radius: 5px;
          &.synced {
            background-color: rgb(203, 241, 203);
            color: green;
          }
          &.syncing {
            background-color: rgb(255, 229, 204);
            color: orange;
          }
        }
      }

      .network-card-header {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .network-card-icon {
          svg {
            padding: 3px;
            border-radius: 5px;

            &.health-icon {
              color: blue;
              background-color: rgba(173, 216, 230, 0.452);
            }
            &.bolt-icon {
              color: purple;
              background-color: rgba(128, 0, 128, 0.445);
            }
            &.rewards-icon {
              color: green;
              background-color: rgba(0, 128, 0, 0.377);
            }
          }
        }
      }

      .status-card-container,
      .validators-card-container {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;

        .status-client-row,
        .validators-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .status-client-row {
          > div {
            flex: 1;
          }
        }

        .status-client-details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        hr {
          margin: 0.5rem 0;
        }

        .progress {
          margin-top: 5px;
          height: 10px;
          .progress-bar {
            background-color: orange;
          }
        }
      }
    }
  }

  #dark {
    #main {
      .network-stats {
      }
    }
  }
}
