.system-health {
  .system-health-card {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .uptime {
      display: flex;
      align-items: flex-start;
      gap: 5px;

      @media (max-width: 65rem) {
        flex-direction: column;
      }

      .uptime-header {
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
          opacity: 0.5;
          @media (max-width: 30rem) {
            display: none;
          }
        }
      }

      .uptime-label {
        font-style: italic;
        color: var(--dappnode-strong-main-color);
      }
    }

    hr {
      margin: 0.75rem 0;
    }

    .stats-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: stretch;
      justify-items: stretch;
      gap: 2rem;

      .stats-block {
        width: 100%;
        .stats-block-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .title {
            display: flex;
            align-items: center;
            gap: 5px;
          }

          svg {
            opacity: 0.5;
          }
        }

        .stats-block-child {
          margin-top: 2px;

          // Overwrite bootstrap progress bar styles
          .progress {
            height: 10px;
            background-color: var(--color-light-border); // Non-filled part bg color
            .progress-bar {
              &.bg-info {
                background-color: var(--dappnode-strong-main-color);
              }
            }
          }
        }
      }
    }
  }
}

#dark {
  #main {
    .system-health {
      .system-health-card {
        .stats-block {
          .progress {
            background-color: dimgray; // Non-filled part bg color
          }
        }

        .uptime {
          .uptime-label {
            color: var(--dappnode-strong-main-color);
          }
        }
      }
    }
  }
}
