.system-health {
  .system-health-card {
    display: flex;
    flex-direction: column;

    .loading-view {
      margin: 1rem 0px;
      img {
        width: 50px;
        height: 50px;
        margin: 0px;
      }
    }

    .stats-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: stretch;
      justify-items: stretch;
      gap: 2rem;

      .stats-block {
        width: 100%;
        .stats-block-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .title {
            display: flex;
            align-items: center;
            gap: 5px;
          }

          svg {
            opacity: 0.5;
          }
        }

        // Overwrite bootstrap progress bar styles
        .progress {
          height: 10px;
          background-color: var(--color-light-border); // Non-filled part bg color
          .progress-bar {
            &.bg-info {
              background-color: var(--dappnode-strong-main-color);
            }
          }
        }
      }
    }
    .uptime {
      display: flex;
      align-items: center;
      gap: 5px;
      svg {
        opacity: 0.5;
      }

      .uptime-label {
        font-weight: 600;
        color: var(--dappnode-strong-main-color);
      }
    }
  }
}

#dark {
  #main {
    .system-health {
      .system-health-card {
        .stats-block {
          .progress {
            background-color: dimgray; // Non-filled part bg color
          }
        }

        .uptime {
          .uptime-label {
            color: var(--dappnode-strong-main-color);
          }
        }
      }
    }
  }
}
