.terminal {
  white-space: pre;
  font-size: 75%;
  font-family: "Inconsolata", monospace;
  overflow: auto;
  height: 30rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
  background-color: #343a40;
  color: white;
}
