.tn-dropdown {
  position: relative;

  .icon-bubble {
    position: absolute;
    right: -5px;
    top: -5px;
    background: transparent;
    border-radius: var(--bubble-size);
    height: var(--bubble-size);
    width: var(--bubble-size);

    &.success {
      background: var(--success-color);
    }
    &.warning {
      background: var(--warning-color);
    }
    &.danger {
      background: var(--danger-color);
    }
  }

  > .menu {
    /* Does not need a z-index, it has the topbar z-index */
    background-color: white;
    border: var(--border-style);
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    /* Positioning */
    position: absolute;
    top: 2rem;
    /* Display control */
    display: none;
    /* Sizing */
    width: 22.5rem;
    max-height: 30rem;
    overflow-y: auto;

    &.show {
      display: block;
    }
    
    @media (max-width: 40rem) {
      width: 15rem;
    }

    /* Menu items */
    > div {
      padding: 0.5rem 1rem;
      overflow-wrap: break-word;

      .title {
        display: flex;
        .text {
          flex: auto;
        }
        .title-actions {
          display: flex;
          .help {
            font-size: 140%;
            display: flex;
            margin-right: 10px;
          }
        }
      }
    }
    > div:not(:last-child) {
      border-bottom: var(--border-style);
    }
    > .header {
      color: #6c757d;
    }
    > .placeholder {
      color: #6c757d;
      opacity: 0.8;
    }
    .progress {
      margin: 0.25rem 0;
    }
  }

  /* Right position of the dropdown to prevent clipping on small screens */
  &.profile > .menu {
    right: -0.5rem;
  }
  &.notifications > .menu {
    right: -3.1rem;
  }
  &.chainstatus > .menu {
    right: -5.6rem;
  }
  &.installer > .menu {
    right: -9rem;
  }
  &.dappnodeidentity > .menu {
    right: -9.2rem;
  }
  &.modules > .menu {
    right: -8rem;
  }

  // Regulate size of toggle icons
  &.notifications .tn-dropdown-toggle svg {
    font-size: 1.3rem;
  }

  &.profile {
    a {
      color: inherit;
    }
    .tn-dropdown-toggle svg {
      font-size: 1.6rem;
    }
    .sign-out {
      cursor: pointer;
    }
  }
}

.tn-dropdown-toggle {
  /* flex automatically centers the toggle icons */
  padding: 3px;
  display: flex;
  opacity: 0.6;
  transition: opacity 150ms;
  cursor: pointer;
}
.tn-dropdown-toggle:hover {
  opacity: 1;
}
