.stakers-launchpad-container {
  // Fade in animation
  opacity: 0;
  transition: opacity ease 0.3s;
  &.opacity-1 {
    opacity: 1;
  }

  // Full screen overlay
  z-index: var(--z-index-welcome-dialog);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  // add scroll to the body
  overflow: hidden;
}

.launchpad {
  padding: var(--default-spacing);
  padding-bottom: 0;
  border-radius: 0.5rem;
  border: var(--border-style);
  background: #fefefe;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);

  /* Sizing */
  overflow-y: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 71rem;
  margin: auto;
  max-height: 100vh; // So it's scrollable in small views

  display: grid;
  grid-template-rows:
    minmax(min-content, max-content)
    1fr
    auto;
  grid-gap: 2rem;

  // align-items: center;
  // min-height: 100vh;

  .header {
    text-align: center;
    .title {
      font-weight: bold;
      font-size: 2rem; // Titles must be big enough in 100% zoom
      transition: color 0.15s;
      color: #666 !important;
    }
    .description {
      font-size: 1rem; // Keep sizes stable
      color: var(--light-text-color) !important;
      max-width: 40rem;
      margin: auto;
    }
  }

  .content {
    text-align: center;

    .title,
    .description {
      color: #212529 !important;
    }

    .card {
      background-color: inherit !important;
    }

    .launchpad-summary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
      > * {
        margin: 0 2rem;
        // Do not allow the child elements to be clickable
        pointer-events: none;
      }
    }
    .launchpad-terms {
      overflow-y: auto;
      max-height: 30rem;
      margin-bottom: 2rem;
      text-align: left;
      .markdown-render {
        color: #666;
        p {
          color: #666;
        }
      }
    }

    .launchpad-execution,
    .launchpad-consensus {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }

  .bottom-buttons {
    // When there's only one button, align right
    > *:only-child {
      margin-left: auto;
    }
    .next {
      float: right;
    }
    .left-buttons {
      float: left;
      .back {
        margin-right: 1rem;
      }
    }

    // In very small screens, make sure the buttons don't clip to the bottom
    margin-bottom: var(--default-spacing);
  }

  > *:not(:last-child) {
    margin-bottom: var(--default-spacing);
  }

  // Helps automatically place
  .space-between-placeholder {
    margin: 0 !important;
  }
}
