.dappnode-identity {
  .ether-card-sample {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
  }
  > *:not(:last-child) {
    margin-bottom: var(--default-spacing);
  }

  .card-sample-toggle {
    font-size: 80%;
    opacity: 0.4;
    cursor: pointer;
    &:hover {
      color: var(--dappnode-color);
      opacity: 1;
    }
  }
}
