// --------------INSTALL NOTIS PKG----------------
.install-notifications-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ---------------------INBOX---------------------
.notification-card {
  border-radius: 10px;
  background-color: #e9ecef;
  padding: 20px;
  cursor: pointer;

  .notification-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center; // Keep the original alignment
    width: 100%;

    .notification-img {
      width: 70px;
      height: 70px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a3a5a7;
    }

    .notification-header-data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      .notification-title {
        font-size: 1.4rem;
        @media (max-width: 40rem) {
          font-size: 1.2rem;
        }
      }

      .notification-header-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--light-text-color);
        font-style: italic;

        @media (max-width: 60rem) {
          flex-direction: column;
          font-size: 0.8rem;
        }
      }
    }
  }

  .notification-body {
    padding-top: 10px;
    font-size: 1rem;
  }
}
.notification-card:hover {
  background-color: var(--color-dark-quaternarytext);
  transition: all 0.1s ease-in-out;
}

#dark {
  .notification-card {
    background-color: var(--color-dark-card);
    color: var(--color-dark-maintext);

    .notification-header {
      .notification-img {
        background-color: var(--color-dark-card-hover);
        color: white;
      }

      .notification-header-details {
        color: var(--light-text-color);
      }
    }
  }

  .notification-card:hover {
    background-color: var(--color-dark-card-hover);
  }
}

// -------------------SETTINGS---------------------

.notifications-settings {
  .title-switch-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .notifications-section-title {
    margin: 0.5rem 0;
  }

  .manage-notifications-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .notifications-pkg-name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .endpoints-card {
    border-radius: 10px;
    background-color: #e9ecef;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;

    .endpoint-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    hr {
      width: 100%;
    }
  }
}

#dark {
  .notifications-settings {
    .endpoints-card {
      background-color: var(--color-dark-card);
      color: var(--color-dark-maintext);
    }
  }
}
