.change-password-form {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-gap: var(--default-spacing);

  > span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  > .submit-buttons {
    display: flex;
    > *:not(:last-child) {
      margin-right: var(--default-spacing);
    }
  }

  @media screen and (max-width: 25rem) {
    grid-template-columns: auto;
    > span {
      justify-content: flex-start;
      &.separator {
        display: none;
      }
    }
  }
}
