.dashboard-layout {
  display: grid;
  grid-gap: var(--default-spacing);
  grid-template-columns: 60% auto;
  grid-template-rows: auto;
  grid-template-areas: "left right";

  @media screen and (max-width: 65rem) {
    display: block;
  }
}

.dashboard-right {
  grid-area: right;
}

.dashboard-left {
  grid-area: left;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1rem;

  &.half {
    grid-template-columns: repeat(auto-fill, minmax(7.5em, 1fr));
  }

  .package-updates,
  .connect-wallet {
    // Give the single card a max width that matches the other cards
    grid-column: 1 / 4;
  }
}

/* Chain cards and  Stats cards */

.chain-card .name,
.stats-card .id {
  text-transform: capitalize;
  font-weight: 800;

  display: flex;
  .text {
    flex: auto;
  }
  .help {
    font-size: 140%;
    display: flex;
  }
}
.chain-card .message,
.stats-card .usage,
.stats-card .text {
  opacity: 0.7;
}

.stats-card {
  .id {
    display: inline;
  }
  .ok-indicator {
    opacity: 0.7;
    margin-top: 0.3rem;
  }
}

.chain-card .progress,
.stats-card .progress,
.stats-card .text {
  margin: 0.3rem 0 0.5rem;
}
.stats-card .text {
  margin-bottom: 0;
}

// Package updates card

.package-update-item,
.connect-wallet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Make buttons smaller so the list is not that big
  button {
    padding: 3px 12px;
    font-size: 94%;
  }
}
