:root {
  --dappnode-white-color: #fff;
  --dappnode-strong-main-color: #00b1f4;
  --dappnode-darker-main-color: #007dfc;
  --dappnode-shadow-main-color: #06d4e7;
  --dappnode-light-main-color: #a0bdbb;
  --dappnode-gray-main-color: #748888;
  --dappnode-links-color: #00b1f4;
  --dappnode-links-darker-color: #007dfc;
  --dappnode-complimentary-color: #bc2f39;
  // Border colors
  --border-color: #e5e5e5;
  --color-light-border: #e5e5e5;
  --color-dark-border: #616161;
  --border-style-light: var(--border-size) solid var(--color-light-border);
  --border-style-dark: var(--border-size) solid var(--color-dark-border);

  // LIGHT mode
  --color-light-background-sidebar-topbar: white; // Used by sidebar and topbar
  --color-light-background-main: #f7f9f9; // Used by main

  // DARK mode
  --color-dark-background-sidebar: #212121; // Used by sidebar
  --color-dark-background-topbar: #313131; // Used by topbar
  --color-dark-background-main: #313131; // Used by main
  --color-dark-maintext: #ffffff; // Used by main
  --color-dark-secondarytext: #dddddd; // Used by main
  --color-dark-tertiarytext: #cccccc; // Used by main
  --color-dark-quaternarytext: #c1c1c1; // Used by main
  --color-dark-card: #414141; // Used by cards
  --color-dark-card-hover: #6a6a6a; // Used by cards
  --color-dark-danger-background: #8d2222; // Used by danger alerts

  // Buttons
  --dappnode-white-color: #fff; // Used by buttons

  // Alert colors
  /* Danger color from the complimentary color of #2fbcb2 (dappnode-color) */
  /* Warning color from From https://www.colorcombos.com/color-schemes/429/ColorCombo429.html */
  --danger-color: var(--dappnode-complimentary-color);
  --warning-color: #ffcc00;
  --success-color: var(--dappnode-strong-main-color);
  --success-green-color: #34a853;
  /* Shortcuts */
  --dappnode-color: var(--dappnode-strong-main-color);
  /* Text colors */
  --light-text-color: #757575;
  /* Opacity shades */
  --opacity-soft: 0.6;
}

.color-danger {
  color: var(--danger-color);
}

.form-label {
  color: var(--light-text-color);
}

/* btn styles - extend bootstrap v4. Use with:
   class="btn btn-dappnode"
 */

.btn-dappnode {
  color: var(--dappnode-white-color);
  background-color: var(--dappnode-strong-main-color);
  border-color: var(--dappnode-strong-main-color);

  &:hover {
    color: var(--dappnode-white-color);
    background-color: var(--dappnode-darker-main-color);
    border-color: var(--dappnode-darker-main-color);
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  &.disabled,
  &:disabled {
    color: var(--dappnode-white-color);
    background-color: var(--dappnode-gray-main-color);
    border-color: var(--dappnode-gray-main-color);
  }
}

.btn-dappnode:not(:disabled):not(.disabled):active,
.btn-dappnode:not(:disabled):not(.disabled).active,
.show > .btn-dappnode.dropdown-toggle {
  color: var(--dappnode-white-color);
  background-color: var(--dappnode-darker-main-color);
  border-color: var(--dappnode-darker-main-color);
}

.btn-outline-dappnode {
  color: var(--dappnode-strong-main-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--dappnode-strong-main-color) !important;

  &:hover {
    color: var(--dappnode-white-color);
    background-color: var(--dappnode-darker-main-color);
    border-color: var(--dappnode-darker-main-color) !important;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem var(--dappnode-shadow-main-color);
  }

  &.disabled,
  &:disabled {
    color: var(--dappnode-strong-main-color);
    background-color: transparent;
  }
}

.btn-outline-dappnode:not(:disabled):not(.disabled):active,
.btn-outline-dappnode:not(:disabled):not(.disabled).active,
.show > .btn-outline-dappnode.dropdown-toggle {
  color: var(--dappnode-white-color);
  background-color: var(--dappnode-strong-main-color);
  border-color: var(--dappnode-strong-main-color);
}

.btn-outline-dappnode:not(:disabled):not(.disabled):active:focus,
.btn-outline-dappnode:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dappnode.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--dappnode-shadow-main-color);
}

/* Opacity shades */
.opacity-soft {
  opacity: var(--opacity-soft);
}

/* Pill variation - only shape */

.btn.pill {
  border-radius: 10rem;
  padding: 0.25rem 1.2rem;
}

/* Toast variations, now they match the bootstrap color scheme */

.Toastify__toast--success,
.Toastify__toast--default {
  color: var(--color-dark-maintext) !important;
  background: var(--success-color) !important;
}
.Toastify__toast--warning {
  background: var(--warning-color) !important;
}
.Toastify__toast--error {
  background: var(--danger-color) !important;
}

/* Edit bootstrap styles */

.text-danger {
  color: var(--danger-color) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.text-success {
  color: var(--success-color) !important;
}
.badge-danger {
  background-color: var(--danger-color);
}
.badge-success {
  background-color: var(--success-color);
}
.alert-warning {
  color: #433c1d;
  background-color: #ffeda6;
  border-color: #ffeda6;
}
