/*
  LIGHT
*/
#light.body {
  background-color: var(--color-light-background-main);
}
#light {
  #main {
    background-color: var(--color-light-background-main);
  }
  #sidebar {
    background-color: var(--color-light-background-sidebar-topbar);
    border-right: var(--border-style-light);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 15px;
  }
  #topbar {
    background-color: var(--color-light-background-main);
  }
  .body {
    background-color: var(--color-light-background-main);
  }
}

/*
  DARK
*/
#dark.body {
  background-color: var(--color-dark-background-main);
}
#dark {
  #main {
    background-color: var(--color-dark-background-main);
    p,
    strong,
    span,
    div,
    a,
    label {
      color: var(--color-dark-tertiarytext);
    }
    .card {
      background-color: var(--color-dark-card);
    }
    .section-title,
    header {
      color: var(--color-dark-maintext);
    }
    .section-subtitle {
      color: var(--color-dark-secondarytext);
    }
  }
  #sidebar {
    background-color: var(--color-dark-background-sidebar);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 15px;
    .nav a,
    .nav .sidenav-item,
    .sidebar-media-footer {
      color: var(--color-dark-secondarytext);
      svg {
        opacity: 1;
      }
    }
  }
  #topbar {
    background-color: var(--color-dark-background-topbar);
    .tn-dropdown .tn-dropdown-toggle {
      color: var(--dappnode-strong-main-color) !important;
      opacity: 1;
    }
  }
  .body {
    background-color: var(--color-dark-background-main);
  }
}
