/*
  LIGHT
*/
#light.body {
  background-color: var(--color-light-background-main);
}
#light {
  #main {
    background-color: var(--color-light-background-main);
  }
  #sidebar {
    background-color: var(--color-light-background-sidebar-topbar);
    border-right: var(--border-style-light);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 15px;
  }
  #topbar {
    border-bottom: var(--border-style-light);
    background-color: var(--color-light-background-sidebar-topbar);
  }
  .body {
    background-color: var(--color-light-background-main);
  }
}

/*
  DATK
*/
#dark.body {
  background-color: var(--color-dark-background-main);
}
#dark {
  #main {
    background-color: var(--color-dark-background-main);
    p,
    strong,
    span,
    div,
    a,
    label {
      color: var(--color-dark-maintext);
    }
    .card {
      background-color: var(--color-dark-card);
    }
    .section-title,
    header {
      color: var(--color-dark-secondarytext);
    }
    .section-subtitle {
      color: var(--color-dark-tertiarytext);
    }
  }
  #sidebar {
    background-color: var(--color-dark-background-sidebar-topbar);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 15px;
    .nav a,
    .nav .sidenav-item {
      color: var(--dappnode-strong-main-color);
      svg {
        opacity: 1;
      }
    }
    .funded-by {
      .funded-by-text {
        color: var(--dappnode-strong-main-color);
      }
      .funded-by-logos .img-fluid {
        opacity: 1;
        filter: invert(63%) sepia(10%) saturate(2588%) hue-rotate(127deg)
          brightness(97%) contrast(93%);
      }
    }
  }
  #topbar {
    border-bottom: none;
    background-color: var(--color-dark-background-sidebar-topbar);
    .left {
      a img {
        filter: invert(63%) sepia(10%) saturate(2588%) hue-rotate(127deg)
          brightness(97%) contrast(93%);
      }
      button {
        color: var(--dappnode-strong-main-color);
      }
    }
    .right .tn-dropdown {
      .tn-dropdown-toggle {
        color: var(--dappnode-strong-main-color) !important;
        opacity: 1;
      }
    }
  }
  .body {
    background-color: var(--color-dark-background-main);
  }
}
