.pwa-requirements-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  > * {
    flex: 1 1 0;
  }
  @media (max-width: 40rem) {
    flex-direction: column;
    width: 100%;
    > * {
      flex: 1;
    }
  }
  .pwa-requirement {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    @media (max-width: 40rem) {
      flex-direction: column;
      gap: 10px;
    }
  }
}

.pwa-install-cards-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;

  > * {
    flex: 1 1 0;
  }
  @media (max-width: 40rem) {
    flex-direction: column;
    width: 100%;
    > * {
      flex: 1;
    }
  }

  .pwa-install-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
}
