.premium-backup-node {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .card {
    margin: 0px;
    padding: 20px;
    @media (max-width: 60rem) {
      padding: 10px;
    }

    h5 {
      font-weight: bold;
    }
  }

  .premium-backup-node-desc {
    .description-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      @media (max-width: 60rem) {
        flex-direction: column;
      }

      .description-row-text {
        flex: 1;
        ul {
          margin: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding: 0px;
          @media (max-width: 60rem) {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
          }
        }

        li {
          margin-left: 20px;
        }
      }

      button {
        max-height: fit-content;
      }
    }
  }

  .premium-backup-info-cards {
    display: flex;
    flex-direction: row;
    gap: 15px;

    @media (max-width: 60rem) {
      flex-direction: column;
    }

    .card {
      flex: 1;
    }

    .premium-backup-network-card {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .premium-backup-network-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .premium-backup-network-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 10px 10px;

          background-color: var(--color-light-background-main);
          border-radius: 10px;

          svg {
            margin-right: 5px;
          }

          .premium-backup-cc-tag {
            font-style: italic;
            color: var(--color-text-secondary);
          }
        }
      }
    }
  }

  .premium-backup-action-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    svg {
      font-size: 100px;
    }

    .premium-backup-countdown {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .premium-backup-countdown-text {
        color: var(--color-text-secondary);
      }

      .premium-backup-countdown-time {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .blue-text {
      color: var(--dappnode-strong-main-color);
    }

    .green-text {
      color: var(--success-green-color);
    }

    .orange-text {
      color: rgb(238, 163, 2);
    }
  }
}

#dark {
  .premium-backup-node {
    .premium-backup-info-cards {
      .premium-backup-network-card {
        .premium-backup-network-item {
          background-color: var(--color-dark-background-main);
        }
      }
    }
    .premium-backup-action-card {
      .orange-text {
        color: var(--warning-color);
      }
    }
  }
}
