.network-backup-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .card {
    padding: 15px;

    .section-subtitle {
      margin: 0;
    }
  }

  .blue-text {
    color: var(--dappnode-strong-main-color);
  }

  .green-text {
    color: var(--success-green-color);
  }

  .orange-text {
    color: rgb(238, 163, 2);
  }

  .info-cards-row {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .card {
      flex: 1;
      justify-content: space-between;
      gap: 5px;
      min-height: 150px;

      .header-row {
        display: flex;
        align-items: center;
        gap: 5px;

        .tooltip-icon {
          font-size: 0.95rem;
          color: var(--light-text-color);
        }
      }
    }

    .consensus-card {
      .cc-item {
        padding: 10px;

        background-color: var(--color-light-background-main);
        border-radius: 10px;

        font-style: italic;
        color: var(--color-text-secondary);

        &.color-danger {
          color: var(--danger-color);
        }
      }
      .cc-warning {
        color: var(--light-text-color);
        font-size: 0.8rem;
      }
    }

    .validators-card {
      .validators-item {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .validators-item-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .tooltip-beacon-api-error {
            margin-bottom: 3px;
            font-size: 0.95rem;
            color: darkorange;
          }
        }

        .validators-limit-bar {
          width: 100%;
          height: 5px;
          background-color: #e9ecef;
          border-radius: 3px;
          overflow: hidden;

          .validators-curr-bar {
            width: 0; /* This is dynamically set */
            height: 100%;
            border-radius: 3px;
            background-color: #000;

            &.color-danger {
              background-color: var(--danger-color);
            }
          }
        }
      }
      .validators-limit-desc,
      .validators-limit-warning {
        color: var(--light-text-color);
        font-size: 0.8rem;
      }
    }

    @media (max-width: 55rem) {
      flex-direction: column;
    }
  }

  .action-backup-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;

    .section-subtitle {
      font-weight: bold;
    }

    .action-backup-col {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;

      .action-icon {
        font-size: 3rem;
      }

      .countdown-text {
        color: var(--light-text-color);
      }
      .countdown-time {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .activation-history-card {
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 5px;
    }

    th {
      text-align: left;
      padding: 6px 8px;
      border-radius: 5px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
    }

    th:hover,
    tr:nth-child(even) {
      background-color: var(--color-light-background-main);
    }

    td {
      padding: 6px 8px;
    }

    .sort-arrow {
      display: inline-block;
      width: 5px;
      margin-left: 5px;
    }
  }
}

#dark {
  #main {
    .network-backup-container {
      .blue-text {
        color: var(--dappnode-strong-main-color);
      }

      .color-danger {
        color: red;
      }
      .orange-text {
        color: orange;
      }

      .consensus-card {
        .cc-item {
          background-color: var(--color-dark-background-main);
        }
      }

      .validators-card {
        .validators-limit-bar {
          background-color: var(--color-dark-background-main);

          .validators-curr-bar {
            &.color-danger {
              background-color: red;
            }
          }
        }
        .tooltip-beacon-api-error {
          color: orange;
        }
      }

      .activation-history-card {
        th:hover,
        tr:nth-child(even) {
          background-color: var(--color-dark-background-main);
        }
      }
    }
  }
}
