.network-backup-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .info-cards-row {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .card {
      flex: 1;
      padding: 15px;
      justify-content: space-between;
      gap: 5px;

      .header-row {
        display: flex;
        align-items: center;
        gap: 5px;
        .section-subtitle {
          margin: 0;
        }

        .tooltip-icon {
          font-size: 0.95rem;
          color: var(--light-text-color);
        }
      }
    }

    .consensus-card {
      .cc-item {
        padding: 10px;

        background-color: var(--color-light-background-main);
        border-radius: 10px;

        font-style: italic;
        color: var(--color-text-secondary);

        &.color-danger {
          color: var(--danger-color);
        }
      }
      .cc-warning {
        color: var(--light-text-color);
        font-size: 0.8rem;
      }
    }

    .validators-card {
      .validators-item {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .validators-item-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .tooltip-beacon-api-error {
            margin-bottom: 3px;
            font-size: 0.95rem;
            color: darkorange;
          }
        }

        .validators-limit-bar {
          width: 100%;
          height: 5px;
          background-color: #e9ecef;
          border-radius: 3px;
          overflow: hidden;

          .validators-curr-bar {
            width: 0; /* This is dynamically set */
            height: 100%;
            border-radius: 3px;
            background-color: #000;

            &.color-danger {
              background-color: var(--danger-color);
            }
          }
        }
      }
      .validators-limit-desc,
      .validators-limit-warning {
        color: var(--light-text-color);
        font-size: 0.8rem;
      }
    }
  }
}

#dark {
  #main {
    .network-backup-container {
      .consensus-card {
        .cc-item {
          background-color: var(--color-dark-background-main);
          &.color-danger {
            color: red;
          }
        }
      }

      .validators-card {
        .premium-backup-validators-limit-bar {
          background-color: var(--color-dark-background-main);

          .validators-curr-bar {
            &.color-danger {
              background-color: red;
            }
          }
        }
        .tooltip-beacon-api-error {
          color: orange;
        }
      }
    }
  }
}
