.state-badge-dnp {
  display: flex;
  align-items: stretch;

  // Height is not necessary as long as there's dummy text inside content
  // height: 100%;
  width: 100%;

  // Remove padding so the inner badges fill all
  padding: 0 !important;

  // So the border-radius is visible
  overflow: hidden;

  // Force a min-size so on a packages/:id view the badge on its own is not too small
  @media (min-width: 40rem) {
    min-width: 4.9rem;
  }

  > span {
    width: 100%;
    height: 100%;
  }

  > .state-badge {
    // Over-write .state-badge styles that would make the text too small
    border-radius: 0 !important;
    font-size: 100% !important;
    color: transparent;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.state-badge-container,
.state-badge-dnp {
  // Make the background colors softer, stock are too strong
  opacity: 0.85;
}

.state-badge-legend {
  > *:not(:last-child) {
    margin-right: var(--default-spacing);
  }

  .state-badge-legend-item {
    display: inline-flex;
    align-items: center;

    .state-badge {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.25rem;
    }

    .legend-label {
      color: var(--light-text-color);
      font-size: 0.9rem;
    }
  }
}
