.categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 5px;

  .category {
    padding: 3px 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--light-text-color);
    border: #ced4da 1px solid;
    flex-shrink: 0;
  }

  .selected {
    background-color: #ced4da;
  }

  .category:hover {
    @extend .selected;
  }
}

#dark {
  .category {
    border: var(--color-dark-card) 1px solid;
    color: var(--color-dark-maintext);
  }
  .selected {
    background-color: var(--color-dark-card-hover);
  }
  .category:hover {
    background-color: var(--color-dark-card-hover);
  }
}

.notification-card {
  border-radius: 10px;
  background-color: #e9ecef;
  padding: 10px;
  cursor: pointer;

  .notification-header {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    gap: 20px;
    align-items: center;
    width: 100%;

    @media (max-width: 60rem) {
      gap: 10px;
    }

    .avatar {
      width: 40px;
      height: 40px;

      @media (max-width: 60rem) {
        width: 35px;
        height: 35px;
      }
    }

    .notification-header-data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      flex-grow: 1;

      .notification-title {
        font-size: 1.2rem;
        @media (max-width: 40rem) {
          font-size: 1rem;
        }
      }

      .notification-header-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .notification-name-row {
          display: flex;
          gap: 5px;

          @media (max-width: 40rem) {
            flex-direction: column-reverse;
            gap: 0px;
          }

          .labels-wrapper {
            display: flex;
            gap: 5px;
          }
        }
      }
      .secondary-text {
        color: var(--light-text-color);
        font-size: 1rem;
        @media (max-width: 60rem) {
          font-size: 0.8rem;
          flex-direction: column-reverse;
        }
      }

      .base-label {
        display: flex;
        align-items: center;
        background-color: transparent !important;
        padding: 0px 5px;
        border-radius: 10px;
        font-size: 0.7rem;

        @media (max-width: 60rem) {
          font-size: 0.65rem;
        }
      }
      .resolved-label {
        @extend .base-label;
        background-color: var(--success-green-color) !important;
        color: #bbffad !important;
      }

      .critical-label {
        @extend .base-label;
        border: 1px solid var(--danger-color);
        color: var(--danger-color) !important;
      }
      .high-label {
        @extend .base-label;
        border: 1px solid rgb(228, 156, 0);
        color: rgb(228, 156, 0) !important;
      }
      .medium-label {
        @extend .base-label;
        border: 1px solid var(--success-color);
        color: var(--success-color) !important;
      }
      .low-label {
        @extend .base-label;
        border: 1px solid gray;
        color: gray !important;
      }

      .category-label {
        @extend .base-label;
        border: 1px solid #82898f;
        color: #82898f !important;
      }
    }
  }

  .notification-body {
    padding-top: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 60rem) {
      flex-direction: column;
    }

    button {
      > div {
        white-space: nowrap; // Prevent CTA text from wrapping
      }
    }
  }
}
.notification-card:hover {
  background-color: #f1f3f5;
  transition: all 0.1s ease-in-out;
}

#dark {
  .notification-card {
    background-color: var(--color-dark-card);
    color: var(--color-dark-maintext);

    .notification-header {
      .notification-img {
        background-color: var(--color-dark-card-hover);
        color: white;
      }

      .notification-header-details {
        color: var(--light-text-color);
      }

      .group-label {
        background-color: var(--color-dark-border);
      }

      .critical-label {
        @extend .group-label;
        border: 1px solid red;
        color: red !important;
      }
      .high-label {
        @extend .group-label;
        border: 1px solid rgb(255, 196, 0);
        color: rgb(255, 196, 0) !important;
      }
      .normal-label {
        @extend .group-label;
        border: 1px solid rgb(114, 213, 243);
        color: rgb(114, 213, 243) !important;
      }
      .low-label {
        @extend .group-label;
        border: 1px solid gray;
        color: gray !important;
      }
    }
  }

  .notification-card:hover {
    background-color: var(--color-dark-card-hover);
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0px;

  .page-item {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    border: none;

    &:hover {
      background-color: #ced4da;
    }
  }
  .dots {
    padding-bottom: 8px;
  }

  .active {
    background-color: #ced4da !important;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

#dark {
  .pagination {
    .page-item {
      background-color: var(--color-dark-card);
      color: var(--color-dark-maintext);

      &:hover {
        background-color: var(--color-dark-card-hover);
      }
    }
    .active {
      background-color: var(--color-dark-card-hover) !important;
    }
  }
}
