.notification-card {
  border-radius: 10px;
  background-color: #e9ecef;
  padding: 10px;
  cursor: pointer;

  .notification-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;

    .notification-img {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a3a5a7;
    }

    .notification-header-data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      .notification-title {
        font-size: 1.2rem;
        @media (max-width: 40rem) {
          font-size: 1rem;
        }
      }

      .notification-header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media (max-width: 60rem) {
          flex-direction: column;
        }

      }
      .secondary-text {
        color: var(--light-text-color);
        font-style: italic;

        @media (max-width: 60rem) {
          font-size: 0.8rem;
        }
      }
    }
  }

  .notification-body {
    padding-top: 10px;
    font-size: 1rem;
  }
}
.notification-card:hover {
  background-color: #f1f3f5;
  transition: all 0.1s ease-in-out;
}

#dark {
  .notification-card {
    background-color: var(--color-dark-card);
    color: var(--color-dark-maintext);

    .notification-header {
      .notification-img {
        background-color: var(--color-dark-card-hover);
        color: white;
      }

      .notification-header-details {
        color: var(--light-text-color);
      }
    }
  }

  .notification-card:hover {
    background-color: var(--color-dark-card-hover);
  }
}
