.change-host-user-password {
  .warning {
    border-left: 4px solid var(--danger);
    margin-bottom: 16px;

    .title {
      font-weight: 600;
      margin-bottom: 4px;
    }
  }

  .description {
    margin-bottom: 12px;
  }
}
