.backup {
  > *:not(:last-child) {
    margin-bottom: var(--default-spacing);
  }
  > span:not(:last-child) {
    margin-right: var(--default-spacing);
  }
}

.backup .subtle-header {
  margin-bottom: 0.5rem;
}
