name: Build test
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Print Actor
        run: echo "The actor is ${{ github.actor }}"
      - name: Build
        if: github.actor != 'dependabot[bot]'
        run: npx @dappnode/dappnodesdk github-action build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_API_KEY: ${{ secrets.PINATA_SECRET_API_KEY }}
