name: "Main"
on:
  workflow_dispatch:
    branches:
      - "master"
    paths-ignore:
      - "README.md"
    inputs:
      bump:
        description: "Bump type, it must be: patch | minor | major"
        required: true
  pull_request:
  push:
    branches:
      - "master"
      - "develop"
    paths-ignore:
      - "README.md"

env:
  BUMP_TYPE: ${{ github.event.inputs.bump }}

jobs:
  unit-test:
    runs-on: ubuntu-latest
    name: Unit tests
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "16.15.0"
      - run: yarn
      - run: yarn build
      - run: yarn test
      - run: yarn lint
      - run: yarn server-mock:check-types
        working-directory: packages/admin-ui

  integration-test:
    runs-on: ubuntu-latest
    name: In app integration tests
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "16.15.0"
      - run: yarn # Caching only saves 30s
      - run: yarn build
      - run: yarn test:int

  end-to-end-test:
    runs-on: dappmanager
    name: In real environment end-to-end tests
    steps:
      - uses: actions/checkout@v2
      - run: yarn # Caching only saves 30s
      - run: yarn bootstrap
      - run: yarn generate
      - run: yarn test:end

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [unit-test, integration-test]
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Verify input
        run: |
          [[ "$BUMP_TYPE" == "patch" ]] || [[ "$BUMP_TYPE" == "minor" ]] || \
          [[ "$BUMP_TYPE" == "major" ]] || { echo "Wrong input, it must be: patch | minor | major"; exit 1;}
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "16.15.0"
      - name: Publish
        run: npx @dappnode/dappnodesdk publish ${BUMP_TYPE} --dappnode_team_preset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
